In [28]:
#importing libraries
!pip install kaggle
import kaggle
#downloading data from kaggle using API
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Requirement already satisfied: kaggle in c:\users\sujan\anaconda3\lib\site-packages (1.6.12)
Requirement already satisfied: requests in c:\users\sujan\anaconda3\lib\site-packages (from kaggle) (2.24.0)
Requirement already satisfied: tqdm in c:\users\sujan\anaconda3\lib\site-packages (from kaggle) (4.50.2)
Requirement already satisfied: python-slugify in c:\users\sujan\anaconda3\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: bleach in c:\users\sujan\anaconda3\lib\site-packages (from kaggle) (3.2.1)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\sujan\anaconda3\lib\site-packages (from kaggle) (2024.2.2)
Requirement already satisfied: python-dateutil in c:\users\sujan\anaconda3\lib\site-packages (from kaggle) (2.8.1)
Requirement already satisfied: six>=1.10 in c:\users\sujan\anaconda3\lib\site-packages (from kaggle) (1.15.0)
Requirement already satisfied: urllib3 in c:\users\sujan\anaconda3\lib\site-packages (from kaggle) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\sujan\anaconda3\lib\site-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\sujan\anaconda3\lib\site-packages (from requests->kaggle) (2.10)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\sujan\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: webencodings in c:\users\sujan\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: packaging in c:\users\sujan\anaconda3\lib\site-packages (from bleach->kaggle) (20.4)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\sujan\anaconda3\lib\site-packages (from packaging->bleach->kaggle) (2.4.7)
Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [29]:
#extract file from zip file
import zipfile as z
zip_ref = z.ZipFile('orders.csv.zip')
zip_ref.extractall('C:\\Users\\sujan\\Downloads')
zip_ref.close()

In [30]:
#importing libraries
import pandas as pd
#made NA and unknown as null
df = pd.read_csv('C:\\Users\\sujan\\Downloads\\orders.csv',na_values=['Not Available', 'unknown']) 
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [31]:
#renaming the column names
#df.columns.str.lower()
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [32]:
# deriving new columns discount, sale price and profit
df['discount'] = df['list_price'] * df['discount_percent'] * 0.01
df['sales_price'] = df['list_price'] - df['discount']
df['profit'] = df['sales_price'] - df['cost_price']

In [33]:
# converting  orderdate from object data type to date
df['order_date'] = pd.to_datetime(df['order_date'], format='%Y-%m-%d')

In [34]:
# dropping list_price, cost_price and discount_pt
df.drop(columns = ['list_price', 'cost_price' , 'discount_percent'], inplace = True)

In [35]:
# load data to mysql using replace option
import sqlalchemy as sal
# <user>:<password>@hostname: <port> installed mysqlclient using pip
engine = sal.create_engine('mysql://root:root@localhost:3306/new_schema')
conn = engine.connect()

In [38]:
#load data using append
df.to_sql('df_orders', con = conn, index = False, if_exists = 'append')